@model IEnumerable<StoreWebApp.Models.ProductModel>
@{
    ViewBag.Title = "All Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-columns mt-20">
    @foreach (var item in Model)
    {
        <div class="card">
            <a href="../../../Product/Index?Id=@item.Id">
                <div class="card-img-container">
                    <img class="card-img-top bs-card-img" src=@item.Image alt="@item.Title">
                </div>
                <div class="card-body">
                    <p class="card-text">@item.Description</p>
                </div>
            </a>
        </div>
    }
</div>

